:root{
    --primario: #0d629e;
    --secundario: #00da55;
    --gris: #3b3b3b;
    --blanco: #ffff;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;

    --fuentePrincipal: 'Roboto Serif', sans-serif;
    --fuenteSecundaria: font-family: 'Lato', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after { 
    box-sizing: inherit;
}
body{
    font-family: var(--fuentePrincipal);
    background-color: var(--grisClaro);
    font-size: 1.6rem;
    line-height: 1.6;
}

/*Globales*/
.container {
    max-width:1200px;
    width: 90%;
    margin: 0 auto;
}
h1, h2, h3{
    font-family: var(--fuenteSecundaria);
    margin: calc( var(--separacion) / 2 ) 0;
    font-weight: 900;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
    display: block;
}
/**Utilidades**/

.center{
    text-align: center;
}
/**Degradado verde**/
.degradado{
    color: transparent;
    background:linear-gradient(to right, var(--primario)0%, var(--secundario) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}
/**Header**/
.header{
    background-color: var(--negro);
    padding: calc( var(--separacion)*3) 0;
    color: var(--blanco);
}
.nombre-producto {
    font-family: var(--fuentePrincipal);
}

.header img{
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    .contenido-header{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .texto-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

}
/**Iconos**/
.iconos {
    padding: var(--separacion);
}
@media (min-width: 768px) {
    .iconos{
        display: flex;
        gap: 2rem;
    }
}
.icono h3{
    text-align: center;
}
.icono p{
    text-align: center;
    line-height: 2;
}
.icono img{
    width: 5rem;
    margin: 0 auto;
}
.icono h3{
    color: var(--primario);
    text-transform: uppercase;
    margin-top: calc(var(--separacion)/2);
}

/**Sobre tech**/
.sobre-tech{
    background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg) ;
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 110rem;
}
@media (min-width: 768px) {
    .sobre-tech{
        background-image: linear-gradient(to left, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg) ;
        background-repeat: repeat, no-repeat;
    }
}
@media (min-width: 1600px) {
    .sobre-tech{
        background-size: 100%, 210rem;
    }
}
.sobre-tech-grid{
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separacion);
}
@media (min-width: 768px) {
    .sobre-tech-grid{
        grid-template-rows: unset;
        row-gap: unset;
        grid-template-columns: repeat(2,1fr);
        column-gap: 4rem;
        padding: var(--separacion) 0;
    }
}
.texto-sobre-tech{
    grid-row: 2/3;
    color: var(--blanco);
    padding-bottom: calc(var(--separacion) * 2 );
}
@media (min-width: 768px) {
    .texto-sobre-tech{
        padding: 0;
    }
}

.texto-sobre-tech{
    font-size:2rem ;
    line-height:2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.texto-sobre-tech h2{
    font-size: 4rem;
}
.texto-sobre-tech p{
    font-size: 2rem;
    line-height: 2;
}

/** Modelos **/
.modelos{
    padding: var(--separacion) 0;

}
.header-modelos{
    font-size: 6rem;
    margin-bottom: var(--separacion);
}

.listado-modelos{
    display: flex;
    flex-direction: column-reverse;
}

.modelo{
    background-color: var(--blanco);
    margin-bottom: 2rem;
    color: var(--primario);
    padding: 2rem 0;
    align-items: auto 0;
    padding-left: 4rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modelo h3{
    font-size: 2.4rem;
}
 .precio{
    font-size: 4rem;
    font-weight: bold;
    line-height: 0;
}
.modelo:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
@media (min-width: 992px) {
    .listado-modelos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,  20rem);
        gap: 4rem;
    }
}
.modelo-x{
    background-image: url(../img/modelo-x.svg);
}
.modelo-y{
    background-image: url(../img/modelo-y.svg);
}
.modelo-z{
    background-image: url(../img/modelo-z.svg);

    background-color: var(--primario);
    color: var(--blanco);
}
@media (min-width: 992px) {
    .modelo-z{
        grid-column: 2/3;
        grid-row: 1/3;
        background-size: 25rem;
    }
    .modelo-z h3{
        font-size: 4rem;
    }
}
.modelo:first-of-type{
    margin-bottom: 0;
}

/**Newsletter**/
.image img{
    object-fit: cover;
    height: 40rem;
}
input[type=email]{
    border: none;
    padding: 1rem;
}
input[type=submit]{
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    padding: 1rem 1rem;
}
@media (min-width: 992px) {
    .newsletter{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 6rem;
    }
}
/**Footer**/
.footer p{
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-size: 3rem;
    color: var(--primario);
}
