:root{
    --primario: #0d629e;
    --secundario: #00da55;
    --gris: #3b3b3b;
    --blanco: #ffff;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;

    --fuentePrincipal: 'Roboto Serif', sans-serif;
    --fuenteSecundaria: font-family: 'Lato', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after { 
    box-sizing: inherit;
}
body{
    font-family: var(--fuentePrincipal);
    background-color: var(--grisClaro);
    font-size: 1.6rem;
    line-height: 1.6;
}

/*Globales*/
.container {
    max-width:1200px;
    width: 90%;
    margin: 0 auto;
}
h1, h2, h3{
    font-family: var(--fuenteSecundaria);
    margin: calc( var(--separacion) / 2 ) 0;
    font-weight: 900;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
    display: block;
}
/**Utilidades**/


/**Degradado verde**/
.degradado{
    color: transparent;
    background:linear-gradient(to right, var(--primario)0%, var(--secundario) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}
/**Header**/
.header{
    background-color: var(--negro);
    padding: calc( var(--separacion)*3) 0;
    color: var(--blanco);
}
.nombre-producto{
font-family: var(--fuentePrincipal);
}
.header img{
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    .contenido-header{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .texto-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}